@import 'variables';

.btn-primary {
  background-color: $primary-bg;
  color: $text-color;
}

.btn-secondary {
  background-color: $secondary-bg;
  color: $text-color;
}

.clnc-bg-main{
  background-color: $primary-bg;
  color: $text-color;
}