{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}

Operation Details

{% endblock title %}

{% block content %}

<div class="d-flex">
    <div class="d-flex justify-content-center">
        <div class="rounded-circle"
            style="width: 400px; height: 400px; overflow: hidden;">

            {% if user.profile_image %}

            <div class="w-100 h-100 rounded-circle"
                style="background-image: url('{{ MEDIA_URL }}{{ operation.image }}');
                background-size: cover; background-position: center;">
            </div>

            {% else %}

            <div class="w-100 h-100 rounded-circle"
                style="background-image: url('{{ MEDIA_URL }}backgrounds/dental_surgery_background.jpg');
                background-size: cover; background-position: center;">
            </div>

            {% endif %}

        </div>
    </div>
    <div>
        <h2 class="m-4 px-10">{{ operation }}</h2>
        <p class="m-4 card-text text-muted" style="font-family:'Playwrite RO';">
            {{ operation.description }}
        </p>
    </div>
</div>
<img class="img-responsive img-rounded img-appointment"
    src=""
    alt=""/>

<div class="row justfy-container-md-center">
    <div class="card col-md-9 px-0">
        <div class="card-header" style="color: #000;background-color:rgb(140, 124, 212);">
            <h3 class="mb-0 py-2">{% trans "Workers That are authorized to do this operation" %}</h3>
        </div>
        <div class="card-body" style="color: #000;background-color: #C5CAE9;">
        {% for worker in workers %}
        
        {{ worker }}
        <br>
        works at:
        {% for department in worker.department.all %}

        {{ department }} &&& 

        {% empty %}
            ...
        {% endfor %}
        <br>
        ------------------
        <br>

        {% endfor %}
        </div>
    </div>
</div>



<p class="text text-small text-muted">
    We are working on new css and sass styles ,
    we will update this page as soon as posible.
</p>


{% endblock %}